{% if display %}
  {% set node_title = display %}
{% endif %}

  <div class="clearfix"></div>
  <div id="affiliate-click-link"><a href="#null">Display affiliate link</a></div>
  <div id="affiliate-url" class="affiliate-url-node-markup" style="display:none">
    <div class="affiliate-url-prefix"><strong>Copy the code below and paste it into your website</strong></div>
    <textarea style="width: 100%;" rows="2" readonly="readonly" onclick="this.select()">&lt;a href="{{ url }}" &gt; {{ node_title }}&lt;/a&gt;</textarea>
  </div>
